# Backend Server configuration
PORT=5000
NODE_ENV=development

# Database connection
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# JWT Security secret
JWT_SECRET=tangerine_secret_key_123!
